In [148]:
import pandas as pd
from glob import glob

**Import CSV files taken from:** https://gisdata.mn.gov/dataset/us-mn-state-metrogis-plan-regional-parcels

In [149]:
parcel_listings = sorted(glob('csv/plan_regional_parcels.Parcels*.csv'))
parcel_listings

['csv\\plan_regional_parcels.ParcelsAnoka.csv',
 'csv\\plan_regional_parcels.ParcelsCarver.csv',
 'csv\\plan_regional_parcels.ParcelsDakota.csv',
 'csv\\plan_regional_parcels.ParcelsHennepin.csv',
 'csv\\plan_regional_parcels.ParcelsRamsey.csv',
 'csv\\plan_regional_parcels.ParcelsScott.csv',
 'csv\\plan_regional_parcels.ParcelsWashington.csv']

In [150]:
data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)

<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (2,6,8,15,34,39,56,60,61,78) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (16,27,28,56,61,62,78,79) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (6,15,16,55,56,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (6,8,9,16,56,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (2,6,8,15,16,28,35,40,55,56,60,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (8,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)
<ipython-input-150-16230ff750f3>:1: DtypeWarning: Columns (16,28) have mixed types.Specify dtype option on import or set low_memory=False.
  data = pd.concat((pd.read_csv(file) for file in parcel_listings), ignore_index=True)

**Woah, that's a lot of columns**

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102850 entries, 0 to 1102849
Data columns (total 97 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   fid         1102850 non-null  int64
 1   geom        1102850 non-null  object
 2   COUNTY_PIN  1097479 non-null  object
 3   STATE_PIN   1097800 non-null  object
 4   ANUMBERPRE  128 non-null      float64
 5   ANUMBER     1102850 non-null  int64
 6   ANUMBERSUF  1125 non-null     object
 7   ST_PRE_MOD  0 non-null        float64
 8   ST_PRE_DIR  2512 non-null     object
 9   ST_PRE_TYP  6462 non-null     object
 10  ST_PRE_SEP  0 non-null        float64
 11  ST_NAME     1037672 non-null  object
 12  ST_POS_TYP  1004808 non-null  object
 13  ST_POS_DIR  556861 non-null   object
 14  ST_POS_MOD  0 non-null        float64
 15  SUB_TYPE1   4043 non-null     object
 16  SUB_ID1     80627 non-null    object
 17  SUB_TYPE2   0 non-null        float64
 18  SUB_ID2     0 non-null        float64
 19  ZIP         1050981 non-null  float64
 20  ZIP4        234990 non-null   float64
 21  CTU_NAME    1097546 non-null  object
 22  CTU_ID_TXT  1097546 non-null  float64
 23  POSTCOMM    1050988 non-null  object
 24  CO_CODE     1102850 non-null  int64
 25  CO_NAME     1102850 non-null  object
 26  STATE_CODE  1102850 non-null  object
 27  LOT         732837 non-null   object
 28  BLOCK       692819 non-null   object
 29  PLAT_NAME   1025776 non-null  object
 30  OWNER_NAME  989414 non-null   object
 31  OWNER_MORE  107262 non-null   object
 32  OWN_ADD_L1  552230 non-null   object
 33  OWN_ADD_L2  138379 non-null   object
 34  OWN_ADD_L3  552208 non-null   object
 35  OWN_ADD_L4  36 non-null       object
 36  TAX_NAME    1090538 non-null  object
 37  TAX_ADD_L1  949838 non-null   object
 38  TAX_ADD_L2  671320 non-null   object
 39  TAX_ADD_L3  514473 non-null   object
 40  TAX_ADD_L4  1 non-null        object
 41  LANDMARK    11625 non-null    object
 42  HOMESTEAD   1093286 non-null  object
 43  ACRES_POLY  1102850 non-null  float64
 44  ACRES_DEED  1102850 non-null  float64
 45  EMV_LAND    1102850 non-null  int64
 46  EMV_BLDG    1102850 non-null  int64
 47  EMV_TOTAL   1102850 non-null  int64
 48  TAX_YEAR    1102850 non-null  int64
 49  MKT_YEAR    1102850 non-null  int64
 50  TAX_CAPAC   1102850 non-null  int64
 51  TOTAL_TAX   1102850 non-null  int64
 52  SPEC_ASSES  1102850 non-null  int64
 53  USECLASS1   1092544 non-null  object
 54  USECLASS2   18145 non-null    object
 55  USECLASS3   2092 non-null     object
 56  USECLASS4   316 non-null      object
 57  MULTI_USES  904550 non-null   object
 58  TAX_EXEMPT  981067 non-null   object
 59  XUSECLASS1  39666 non-null    object
 60  XUSECLASS2  6459 non-null     object
 61  XUSECLASS3  466 non-null      object
 62  XUSECLASS4  65 non-null       object
 63  DWELL_TYPE  474445 non-null   object
 64  HOME_STYLE  551803 non-null   object
 65  FIN_SQ_FT   1102850 non-null  int64
 66  GARAGE      999518 non-null   object
 67  GARAGESQFT  1102850 non-null  int64
 68  BASEMENT    867372 non-null   object
 69  HEATING     455578 non-null   object
 70  COOLING     343782 non-null   object
 71  YEAR_BUILT  1102850 non-null  int64
 72  NUM_UNITS   1102850 non-null  int64
 73  SALE_DATE   794205 non-null   object
 74  SALE_VALUE  1102850 non-null  int64
 75  GREEN_ACRE  1094822 non-null  object
 76  OPEN_SPACE  996245 non-null   object
 77  AG_PRESERV  1097479 non-null  object
 78  AGPRE_ENRD  1252 non-null     object
 79  AGPRE_EXPD  508 non-null      object
 80  ABB_LEGAL   577515 non-null   object
 81  EDIT_DATE   174556 non-null   object
 82  EXP_DATE    1102850 non-null  object
 83  POLYPTREL   1102850 non-null  int64
 84  N_STANDARD  1102850 non-null  int64
 85  OWNERSHIP   608225 non-null   object
 86  SCHOOL_DST  1084857 non-null  object
 87  WSHD_DST    1075907 non-null  object
 88  SECTION     1102850 non-null  int64
 89  TOWNSHIP    1102850 non-null  int64
 90  RANGE       1102850 non-null  int64
 91  RANGE_DIR   1102850 non-null  int64
 92  PRIN_MER    1102850 non-null  int64
 93  PIN         1097800 non-null  object
 94  VIEWID      1102850 non-null  int64
 95  Shape_Leng  1102850 non-null  float64
 96  Shape_Area  1102850 non-null  float64
dtypes: float64(13), int64(24), object(60)
memory usage: 816.2+ MB

In [152]:
data.columns

Index(['fid', 'geom', 'COUNTY_PIN', 'STATE_PIN', 'ANUMBERPRE', 'ANUMBER',
       'ANUMBERSUF', 'ST_PRE_MOD', 'ST_PRE_DIR', 'ST_PRE_TYP', 'ST_PRE_SEP',
       'ST_NAME', 'ST_POS_TYP', 'ST_POS_DIR', 'ST_POS_MOD', 'SUB_TYPE1',
       'SUB_ID1', 'SUB_TYPE2', 'SUB_ID2', 'ZIP', 'ZIP4', 'CTU_NAME',
       'CTU_ID_TXT', 'POSTCOMM', 'CO_CODE', 'CO_NAME', 'STATE_CODE', 'LOT',
       'BLOCK', 'PLAT_NAME', 'OWNER_NAME', 'OWNER_MORE', 'OWN_ADD_L1',
       'OWN_ADD_L2', 'OWN_ADD_L3', 'OWN_ADD_L4', 'TAX_NAME', 'TAX_ADD_L1',
       'TAX_ADD_L2', 'TAX_ADD_L3', 'TAX_ADD_L4', 'LANDMARK', 'HOMESTEAD',
       'ACRES_POLY', 'ACRES_DEED', 'EMV_LAND', 'EMV_BLDG', 'EMV_TOTAL',
       'TAX_YEAR', 'MKT_YEAR', 'TAX_CAPAC', 'TOTAL_TAX', 'SPEC_ASSES',
       'USECLASS1', 'USECLASS2', 'USECLASS3', 'USECLASS4', 'MULTI_USES',
       'TAX_EXEMPT', 'XUSECLASS1', 'XUSECLASS2', 'XUSECLASS3', 'XUSECLASS4',
       'DWELL_TYPE', 'HOME_STYLE', 'FIN_SQ_FT', 'GARAGE', 'GARAGESQFT',
       'BASEMENT', 'HEATING', 'COOLING', 'YEAR_BUILT', 'NUM_UNITS',
       'SALE_DATE', 'SALE_VALUE', 'GREEN_ACRE', 'OPEN_SPACE', 'AG_PRESERV',
       'AGPRE_ENRD', 'AGPRE_EXPD', 'ABB_LEGAL', 'EDIT_DATE', 'EXP_DATE',
       'POLYPTREL', 'N_STANDARD', 'OWNERSHIP', 'SCHOOL_DST', 'WSHD_DST',
       'SECTION', 'TOWNSHIP', 'RANGE', 'RANGE_DIR', 'PRIN_MER', 'PIN',
       'VIEWID', 'Shape_Leng', 'Shape_Area'],
      dtype='object')

**Let's get rid of all of the columns that we don't need for this analysis**

In [153]:
data.drop(['fid', 'geom', 'COUNTY_PIN', 'STATE_PIN', 'ANUMBERPRE', 
       'ANUMBERSUF', 'ST_PRE_MOD', 'ST_PRE_DIR', 'ST_PRE_TYP', 'ST_PRE_SEP',
       'ST_POS_DIR', 'ST_POS_MOD', 'SUB_TYPE1',
       'SUB_ID1', 'SUB_TYPE2', 'SUB_ID2', 'ZIP4', 
       'CTU_ID_TXT', 'POSTCOMM', 'CO_CODE', 'CO_NAME', 'STATE_CODE', 'LOT',
       'BLOCK', 'PLAT_NAME', 'OWNER_NAME', 'OWNER_MORE', 'OWN_ADD_L1',
       'OWN_ADD_L2', 'OWN_ADD_L3', 'OWN_ADD_L4', 'TAX_ADD_L3', 'TAX_ADD_L4', 'LANDMARK', 'HOMESTEAD',
       'ACRES_POLY', 'ACRES_DEED', 'EMV_LAND', 'EMV_BLDG', 
       'TAX_YEAR', 'MKT_YEAR', 'TAX_CAPAC', 'TOTAL_TAX', 'SPEC_ASSES','USECLASS2', 'USECLASS3', 'USECLASS4', 'MULTI_USES',
       'TAX_EXEMPT', 'XUSECLASS1', 'XUSECLASS2', 'XUSECLASS3', 'XUSECLASS4',
       'DWELL_TYPE', 'HOME_STYLE', 'FIN_SQ_FT', 'GARAGE', 'GARAGESQFT',
       'BASEMENT', 'HEATING', 'COOLING', 'YEAR_BUILT', 'NUM_UNITS',
       'SALE_DATE', 'SALE_VALUE', 'GREEN_ACRE', 'OPEN_SPACE', 'AG_PRESERV',
       'AGPRE_ENRD', 'AGPRE_EXPD', 'ABB_LEGAL', 'EDIT_DATE', 'EXP_DATE',
       'POLYPTREL', 'N_STANDARD', 'OWNERSHIP', 'SCHOOL_DST', 'WSHD_DST',
       'SECTION', 'TOWNSHIP', 'RANGE', 'RANGE_DIR', 'PRIN_MER', 'PIN',
       'VIEWID', 'Shape_Leng', 'Shape_Area'], axis = 1, inplace = True)

In [154]:
data.head()

,ANUMBER,ST_NAME,ST_POS_TYP,ZIP,CTU_NAME,TAX_NAME,TAX_ADD_L1,TAX_ADD_L2,EMV_TOTAL,USECLASS1
0,0,NaN,NaN,55070.0,Saint Francis,NaN,NaN,NaN,0,AGRICULTURAL
1,0,NaN,NaN,55303.0,Ramsey,NaN,NaN,NaN,0,AGRICULTURAL
2,9340,Highway 10,NaN,55303.0,Ramsey,NaN,NaN,NaN,0,AGRICULTURAL
3,0,NaN,NaN,55303.0,Oak Grove,NaN,NaN,NaN,0,AGRICULTURAL
4,0,NaN,NaN,55038.0,Lino Lakes,NaN,NaN,NaN,0,AGRICULTURAL

In [159]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102850 entries, 0 to 1102849
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ANUMBER     1102850 non-null  int64
 1   ST_NAME     1037672 non-null  object
 2   ST_POS_TYP  1004808 non-null  object
 3   ZIP         1102850 non-null  int32
 4   CTU_NAME    1097546 non-null  object
 5   TAX_NAME    1090538 non-null  object
 6   TAX_ADD_L1  949838 non-null   object
 7   TAX_ADD_L2  671320 non-null   object
 8   EMV_TOTAL   1102850 non-null  int64
 9   USECLASS1   1092544 non-null  object
dtypes: int32(1), int64(2), object(7)
memory usage: 79.9+ MB

**Convert the ZIP column to integer**

In [160]:
data['ZIP'] = data['ZIP'].fillna(0).astype(int)

**Look at all of the different real estate classifications. This is going to take some work.**

In [161]:
data.USECLASS1.unique()

array(['AGRICULTURAL', 'RESIDENTIAL SINGLE FAMILY', 'RAILROAD',
       'TAX FORFEIT', 'INDUSTRIAL', 'COMMERCIAL / GOLF COURSE',
       'SEASONAL RECREATIONAL', 'RESIDENTIAL DUPLEXES',
       'APARTMENTS / COOP', 'UTILITY PROPERTY', 'CONDOMINIUMS',
       'SERVICE STATION', 'MANUFACTURED HOME PARK', 'NURSING HOMES',
       'Muni Srvc Other', 'Res 1 unit', 'Industrial', 'Commercial',
       'Apt 4+ units', 'Res V Land', 'State Acquired', 'T E Misc Co D 3',
       'MiscNotReported', 'Muni Srvc Ent', 'MH Park Class I',
       'T E Misc Co D 1', 'Cemetery-Public', 'Co Srvc Ent',
       'Schools-Public', 'Res 2-3 units', 'MH Park', 'Elderly Liv Fac',
       'Church', 'Agricultural', 'InLieuTx Co D 1', 'T E Misc Co D 2',
       'Church - Other', 'Schools-Private', 'Rural Vacant Land',
       'Co Srvc Other', 'InLieuTx Co D 2', 'Hospital-Public',
       'Charit Inst', 'Co Admin-TaxForf', 'State Property', 'SRR',
       'Comm Services-Donations', 'Managed Forest Land',
       'Sp Tax District', 'Pub Util L & S',
       'Other Non-Ad Valorem Property Tax Property', 'Charit Inst-Res',
       'Q Golf Course', 'Colleges-Public', 'Church-Residence',
       'Pub Util RR', 'MiscReported', 'Cemetery-Private',
       'ForestParkRefuge', 'Wetlands', 'Church-Other Res',
       'Low Income Housing HRA Property (with Shelter', 'Sr Citizens Fac',
       'Federal Property', 'Public Hunting', 'State Admin-DNR',
       'Colleges-Private', 'Ag Hist Society', 'Com SRR',
       'Arena/BParkNProf', nan, 'EXEMPT', 'APARTMENT',
       'INDUSTRIAL-PREFERRED', 'COMMERCIAL-PREFERRED',
       'RESIDENTIAL-TOWNHOUSE', 'RESIDENTIAL', 'AG', 'AG-GREEN ACRES',
       'COMMERCIAL', 'COMMERCIAL-PREFERRED-OPEN SPACE',
       'APARTMENT-NURSING HOME', 'AG-AG PRESERVE', 'UTILITIES',
       'UTILITIES-PREFERRED', 'APARTMENT-MOBILE HOME PARK',
       'COMMERCIAL-OPEN SPACE', 'MACHINERY',
       'NON-PROFIT COMMUNITY SERVICE ORG', 'CABIN',
       'RESIDENTIAL-CONDOMINIUM', 'APARTMENT-MOBILE HOME',
       'Seasonal Residential Rec.', 'Residential Lakeshore',
       "Resd'l Misc & Bed & Breakfast", 'Vacant Land - Residential',
       'Residential', 'Vacant Land - Rural Residential',
       'Farm-Hmstd (House & 1 Acre)', 'Farm', 'Townhouse',
       'Common Area (No Value)', 'Vacant Land - Industrial', 'Disabled',
       'Vacant Land - Lakeshore', 'Residential-Zero Lot Line-DB', 'Blind',
       'Condominium', 'Apartment', 'Disabled Joint Tenancy',
       'Housing - Low Income > 3 Units', 'Vacant Land - Commercial',
       'Agricultural Preserve', 'Condo Garage/Miscellaneous',
       'Vacant Land - Apartment', 'Manufactured Home Park - EDU Cert',
       'Double Bungalow', 'Railroad', 'Community Org (Non Revenue)',
       'Triplex', 'Blind Joint Tenancy', 'Housing - Low Income < 4 Units',
       'Utility', 'Cooperative', 'Nursing Home', 'Seasonal Marina',
       'Non 4BB Compliant (Mpls only)', 'Vacant Land - Rural Farm',
       "Chartered Veteran's Org (Donation)", 'Apartment Condominium',
       'Golf Course - Reduced Rate', 'Mobile Home Park',
       'Sorority/Fraternity Housing', 'Social Club (Mpls only)',
       'Seasonal Lakeshore Restaurant',
       "Chartered Veteran's Org (Non Revenue)", 'T E Misc Co D 4',
       'T E Misc Co D 10', 'Apprenticeship Training Facilities',
       'ER Shelter', 'T E Misc Co D 16', 'Hospital-Private',
       'Childrens Homes', 'Trans Housing',
       'Comm Serv-Donations Congr Charter', 'College-Priv Res',
       'Schools-Priv Res', 'Student Hse', 'T E Misc Co D 11',
       'Nursing Homes', 'Comm Services-Non Revenue', 'Skyways',
       '941 ForestParkRefuge', '305 Industrial', '300 Commercial',
       '955 Co Srvc Other', '958 Muni Srvc Other', '100 Res 1 unit',
       '942 Indian Resrv', '140 Res V Land', '200 Agricultural',
       '211 Rural Vacant Land', '915 Church', '956 Muni Srvc Ent',
       '901 Schools-Public', '902 Schools-Private', '952 State Property',
       '360 Pub Util RR', '931 Charit Inst', '110 Apt 4+ units',
       '912 Cemetery-Private', '105 Res 2-3 units', '352 MH Park Class I',
       '981 State Acquired', '937 Arena/BParkNProf',
       '911 Cemetery-Public', '984 Public Hunting',
       '921 Hospital-Private', '962 T E Misc Co D 3',
       '990 InLieuTx Co D 1', '916 Church-Residence',
       '917 Church-Other Res', '925 Trans Housing', '954 Nursing Homes',
       '918 Church - Other', '320 Q Golf Course', '953 Co Srvc Ent',
       '983 Co Admin-TaxForf', '337 Comm Serv-Donations Congr Charter',
       '982 State Admin-DNR', '336 Comm Services-Donations',
       '940 Wetlands', '959 Sp Tax District', '125 SRR',
       '951 Federal Property', '920 Hospital-Public', '922 Hosp-Pub Res',
       '350 MH Park', '906 Schools-Pub Res', '932 Charit Inst-Res',
       '930 ER Shelter', '310 Com SRR', '252 Managed Forest Land',
       '948 Water-Treatment', '900 MiscNotReported',
       '965 T E Misc Co D 6', '966 T E Misc Co D 7',
       '967 T E Misc Co D 8', '963 T E Misc Co D 4', '210 Ag 2 - 3 Units',
       '950 MiscReported', '995 InLieuTx Co D 6', '904 Colleges-Public',
       '979 T E Misc Co D 20', '315 Com Ma & Pa',
       '318 Marina Recreational Land', '905 Colleges-Private',
       '335 Comm Services-Non Revenue', '355 Pub Util L & S'],
      dtype=object)

**How many rows are empty in the classification type?**

In [162]:
data.isna().sum()

ANUMBER            0
ST_NAME        65178
ST_POS_TYP     98042
ZIP                0
CTU_NAME        5304
TAX_NAME       12312
TAX_ADD_L1    153012
TAX_ADD_L2    431530
EMV_TOTAL          0
USECLASS1      10306
dtype: int64

**Let's make the data easier to read. Used some regular expression code to get rid of numbers in classification column.**

In [163]:
data['Type'] = data['USECLASS1'].str.extract(r'([a-zA-Z ]+)', expand=False).str.strip()

**Make data camelcase**

In [164]:
data['Type'] = data['Type'].str.upper().str.title() 
data['ST_NAME'] = data['ST_NAME'].str.upper().str.title() 
data['CTU_NAME'] = data['CTU_NAME'].str.upper().str.title()

In [165]:
data.head()

,ANUMBER,ST_NAME,ST_POS_TYP,ZIP,CTU_NAME,TAX_NAME,TAX_ADD_L1,TAX_ADD_L2,EMV_TOTAL,USECLASS1,Type
0,0,NaN,NaN,55070,Saint Francis,NaN,NaN,NaN,0,AGRICULTURAL,Agricultural
1,0,NaN,NaN,55303,Ramsey,NaN,NaN,NaN,0,AGRICULTURAL,Agricultural
2,9340,Highway 10,NaN,55303,Ramsey,NaN,NaN,NaN,0,AGRICULTURAL,Agricultural
3,0,NaN,NaN,55303,Oak Grove,NaN,NaN,NaN,0,AGRICULTURAL,Agricultural
4,0,NaN,NaN,55038,Lino Lakes,NaN,NaN,NaN,0,AGRICULTURAL,Agricultural

In [166]:
print(data['Type'].sort_values().unique())

['Ag' 'Ag Hist Society' 'Agricultural' 'Agricultural Preserve' 'Apartment'
 'Apartment Condominium' 'Apartments' 'Apprenticeship Training Facilities'
 'Apt' 'Arena' 'Blind' 'Blind Joint Tenancy' 'Cabin' 'Cemetery'
 'Charit Inst' 'Chartered Veteran' 'Childrens Homes' 'Church' 'Co Admin'
 'Co Srvc Ent' 'Co Srvc Other' 'College' 'Colleges' 'Com Ma' 'Com Srr'
 'Comm Serv' 'Comm Services' 'Commercial' 'Common Area' 'Community Org'
 'Condo Garage' 'Condominium' 'Condominiums' 'Cooperative' 'Disabled'
 'Disabled Joint Tenancy' 'Double Bungalow' 'Elderly Liv Fac' 'Er Shelter'
 'Exempt' 'Farm' 'Federal Property' 'Forestparkrefuge' 'Golf Course'
 'Hosp' 'Hospital' 'Housing' 'Indian Resrv' 'Industrial' 'Inlieutx Co D'
 'Low Income Housing Hra Property' 'Machinery' 'Managed Forest Land'
 'Manufactured Home Park' 'Marina Recreational Land' 'Mh Park'
 'Mh Park Class I' 'Miscnotreported' 'Miscreported' 'Mobile Home Park'
 'Muni Srvc Ent' 'Muni Srvc Other' 'Non' 'Nursing Home' 'Nursing Homes'
 'Other Non' 'Pub Util L' 'Pub Util Rr' 'Public Hunting' 'Q Golf Course'
 'Railroad' 'Res' 'Res V Land' 'Resd' 'Residential' 'Residential Duplexes'
 'Residential Lakeshore' 'Residential Single Family' 'Rural Vacant Land'
 'Schools' 'Seasonal Lakeshore Restaurant' 'Seasonal Marina'
 'Seasonal Recreational' 'Seasonal Residential Rec' 'Service Station'
 'Skyways' 'Social Club' 'Sorority' 'Sp Tax District' 'Sr Citizens Fac'
 'Srr' 'State Acquired' 'State Admin' 'State Property' 'Student Hse'
 'T E Misc Co D' 'Tax Forfeit' 'Townhouse' 'Trans Housing' 'Triplex'
 'Utilities' 'Utility' 'Utility Property' 'Vacant Land' 'Water' 'Wetlands'
 nan]

**Let's get rid of listings that don't have owners or types listed**

In [167]:
data=data.dropna(how='any', subset=['Type', 'TAX_NAME'])
data.isna().sum()

ANUMBER            0
ST_NAME        53625
ST_POS_TYP     86320
ZIP                0
CTU_NAME           0
TAX_NAME           0
TAX_ADD_L1    140739
TAX_ADD_L2    418977
EMV_TOTAL          0
USECLASS1          0
Type               0
dtype: int64

**Create a dictionary to map current real estate classification to more understandable name**

In [168]:
mapping = {'Ag' : 'Agriculture',
'Ag Hist Society' : 'Charity',
'Agricultural' : 'Agriculture',
'Agricultural Preserve' : 'Agriculture',
'Apartment' : 'Apartment',
'Apartment Condominium' : 'Apartment',
'Apartments' : 'Apartment',
'Apprenticeship Training Facilities' : 'Commercial',
'Apt' : 'Apartment',
'Arena' : 'Commercial',
'Blind' : 'Residential',
'Blind Joint Tenancy' : 'Residential',
'Cabin' : 'Residential',
'Cemetery' : 'Commercial',
'Charit Inst' : 'Charity',
'Chartered Veteran' : 'Charity',
'Childrens Homes' : 'Charity',
'Church' : 'Religious',
'Co Admin' : 'Commercial',
'Co Srvc Ent' : 'Commercial',
'Co Srvc Other' : 'Commercial',
'College' : 'College',
'Colleges' : 'College',
'Com Ma' : 'Commercial',
'Com Srr' : 'Commercial',
'Comm Serv' : 'Commercial',
'Comm Services' : 'Commercial',
'Commercial' : 'Commercial',
'Common Area' : 'Agriculture',
'Community Org' : 'Charity',
'Condo Garage' : 'Residential',
'Condominium' : 'Residential',
'Condominiums' : 'Residential',
'Cooperative' : 'Residential',
'Disabled' : 'Charity',
'Disabled Joint Tenancy' : 'Charity',
'Double Bungalow' : 'Residential',
'Elderly Liv Fac' : 'SeniorLiving',
'Er Shelter' : 'Charity',
'Exempt' : 'Other',
'Farm' : 'Farm',
'Federal Property' : 'Federal',
'Forestparkrefuge' : 'Forest',
'Golf Course' : 'Recreation',
'Hosp' : 'Hospital',
'Hospital' : 'Hospital',
'Housing' : 'Residential',
'Indian Resrv' : 'Indian',
'Industrial' : 'Commercial',
'Inlieutx Co D' : 'Residential',
'Low Income Housing Hra Property' : 'Charity',
'Machinery' : 'Commercial',
'Managed Forest Land' : 'Forest',
'Manufactured Home Park' : 'Charity',
'Marina Recreational Land' : 'Charity',
'Mh Park' : 'Recreation',
'Mh Park Class I' : 'Recreation',
'Miscnotreported' : 'Other',
'Miscreported' : 'Other',
'Mobile Home Park' : 'Residential',
'Muni Srvc Ent' : 'Municipal',
'Muni Srvc Other' : 'Municipal',
'Non' : 'Other',
'Nursing Home' : 'SeniorLiving',
'Nursing Homes' : 'SeniorLiving',
'Other Non' : 'Other',
'Pub Util L' : 'Utility',
'Pub Util Rr' : 'Utility',
'Public Hunting' : 'State',
'Q Golf Course' : 'Golf',
'Railroad' : 'Railroad',
'Res' : 'Residential',
'Res V Land' : 'Residential',
'Resd' : 'Residential',
'Residential' : 'Residential',
'Residential Duplexes' : 'Residential',
'Residential Lakeshore' : 'Residential',
'Residential Single Family' : 'Residential',
'Rural Vacant Land' : 'Agriculture',
'Schools' : 'School',
'Seasonal Lakeshore Restaurant' : 'Commercial',
'Seasonal Marina' : 'Commercial',
'Seasonal Recreational' : 'Commercial',
'Seasonal Residential Rec' : 'Commercial',
'Service Station' : 'Commercial',
'Skyways' : 'Commercial',
'Social Club' : 'Commercial',
'Sorority' : 'College',
'Sp Tax District' : 'TaxDistrict',
'Sr Citizens Fac' : 'SeniorLiving',
'Srr' : 'Other',
'State Acquired' : 'State',
'State Admin' : 'State',
'State Property' : 'State',
'Student Hse' : 'College',
'T E Misc Co D' : 'Residential',
'Tax Forfeit' : 'Residential',
'Townhouse' : 'Residential',
'Trans Housing' : 'Residential',
'Triplex' : 'Residential',
'Utilities' : 'Utility',
'Utility' : 'Utility',
'Utility Property' : 'Utility',
'Vacant Land' : 'Agriculture',
'Water' : 'Agriculture',
'Wetlands' : 'Agriculture'
}

In [169]:
data['Type'] = data['Type'].replace(mapping)

**What does our classification listings look like after all of our editing?**

In [170]:
print(data['Type'].value_counts())

Residential     966042
Agriculture      49627
Commercial       38958
Apartment        10699
Municipal         7720
Other             7547
Charity           1858
Farm              1668
State             1118
Religious         1112
School             701
TaxDistrict        688
Railroad           598
Forest             328
Utility            323
College            318
Recreation         225
Indian             209
Golf               108
Hospital            94
SeniorLiving        83
Federal             64
Name: Type, dtype: int64

**Let's drop a column we already duplicated**

In [171]:
data.drop(['USECLASS1'],axis=1, inplace=True)

**Check out what we're working with**

In [172]:
data.columns

Index(['ANUMBER', 'ST_NAME', 'ST_POS_TYP', 'ZIP', 'CTU_NAME', 'TAX_NAME',
       'TAX_ADD_L1', 'TAX_ADD_L2', 'EMV_TOTAL', 'Type'],
      dtype='object')

**Rename the columns**

In [173]:
data.columns = ['Number', 'StName', 'StPosType', 'Zip', 'City', 'Owner', 'OwnerAdd1', 'OwnerAdd2', 'EMV', 'Type']

In [174]:
data.head()

,Number,StName,StPosType,Zip,City,Owner,OwnerAdd1,OwnerAdd2,EMV,Type
402,0,NaN,NaN,55070,Saint Francis,DICKENSON JAMES,22932 NAVAJO ST NW,ST FRANCIS,127100,Agriculture
403,5275,229Th,Avenue,55070,Saint Francis,WEBER ROBERT,5275 229TH AVE NW,ST. FRANCIS,612000,Agriculture
404,23209,Bridgestone,Road,55070,Saint Francis,VESTA MINNESOTA PROPERTIES LLC,3825 85TH AVE N,BROOKLYN PARK,302600,Agriculture
405,4826,232Nd,Avenue,55070,Saint Francis,BRIERLEY WENDY,4826 232ND AVE NW,ST. FRANCIS,312900,Residential
406,4856,232Nd,Avenue,55070,Saint Francis,FOSSE DAVID B & ELVIRA,4856 232ND AVE NW,ST FRANCIS,496500,Residential

**Columns still not in camelcase**

In [175]:
data['Owner']= data['Owner'].str.upper().str.title()
data['OwnerAdd1']= data['OwnerAdd1'].str.upper().str.title()
data['OwnerAdd2']= data['OwnerAdd2'].str.upper().str.title()

In [176]:
data.head()

,Number,StName,StPosType,Zip,City,Owner,OwnerAdd1,OwnerAdd2,EMV,Type
402,0,NaN,NaN,55070,Saint Francis,Dickenson James,22932 Navajo St Nw,St Francis,127100,Agriculture
403,5275,229Th,Avenue,55070,Saint Francis,Weber Robert,5275 229Th Ave Nw,St. Francis,612000,Agriculture
404,23209,Bridgestone,Road,55070,Saint Francis,Vesta Minnesota Properties Llc,3825 85Th Ave N,Brooklyn Park,302600,Agriculture
405,4826,232Nd,Avenue,55070,Saint Francis,Brierley Wendy,4826 232Nd Ave Nw,St. Francis,312900,Residential
406,4856,232Nd,Avenue,55070,Saint Francis,Fosse David B & Elvira,4856 232Nd Ave Nw,St Francis,496500,Residential

**Create a CSV of the dataframe**

data.to_csv('tcrealestate.csv', index=False)

**Create out Postgres server**

import psycopg2

pgconn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="postgres")

pgcursor = pgconn.cursor()

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

pgcursor.execute('DROP DATABASE IF EXISTS tc')
pgcursor.execute('CREATE DATABASE tc')

pgconn.close()

**Load dataframe into an object**

tcdf = pd.read_csv("tcrealestate.csv", low_memory=False)

**Write to our Postgres server**

import psycopg2

pgconn = psycopg2.connect(
    host="localhost",
    database="tc",
    user="postgres",
    password="postgres")

from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/tc')

tcdf.to_sql('tcdf', engine, if_exists='replace', index = False)